<nav id="sidebar-icon-links">
  <a id="github-link"
     class="icon" title="GitHub" aria-label="GitHub"
     href="{{ site.github_url }}">
    {% include svg/github.svg %}
  </a>
  <a id="linkedin-link"
     class="icon" title="LinkedIn" aria-label="LinkedIn"
     href="{{ site.linkedin_url }}">
    {% include svg/linkedin.svg %}
  </a>

  {% comment %}
    Check if we have tag page active before linking to it.
  {% endcomment %}
  {% assign tags_page = false %}
  {% for node in site.pages %}
    {% if node.layout == "tags" %}
      {% assign tags_page = node %}
    {% endif %}
  {% endfor %}

  {% if tags_page %}
    <a id="tags-link"
       class="icon{% if page.url == '/tags' %} active{% endif %}"
       title="Tags" aria-label="Tags"
       href="{{ tags_page.url | relative_url }}">
      {% include svg/tags.svg %}
    </a>
  {% endif %}

  {% include custom-icon-links.html %}
</nav>
